.ninegrid{
	display: block;
	width: 450px;
	height: 450px;
	border: green solid 3px;
}
.row{
	clear: both;
}
.box{
	display: block;
	height:150px;
	width: 150px;
	margin:;
	float: left;
	font-size: 120px;
	color:green;
	border: green solid 3px;
	background-color: lime;
}